@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300;400&family=Quicksand&display=swap');



main {
    padding-top: 1rem;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}

.bg-body-tertiary {
    border-bottom: 1px #DA555B solid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

nav .nav-link {
    color: #000 !important;
}

a {
    color: #DA555B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-line;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: inherit !important;
}

.object-prop {
    color: #000086 !important;
}

.data-prop {
    color: #008700 !important;
}

.grafoo-class {
    background-color: #FFFF00;
}

.instance {
    background-color: #FF99CC;
}

.nav-link.active {
    background-color: #DA555B !important;
}

.nav-link, .nav-link:hover {
    color: #DA555B ;
}

aside {
    float: right;
    display: flex;
    width: 25%;
    border: #DA555B 1px solid;
    font-size: small;
}

.btn.disabled {
    background-color: #77789C !important;
}

.lang, .lang:hover {
    border-color: grey;
    text-decoration: none;
}

.relations {
    text-decoration: underline;
    font-weight: bolder;
}

/* screen size fixes */ 

@media (max-width: 768px) {
    .btn-group {
        height: 60% ;
    }
}